/* Main colors*/

:root {
    --primary_white: #FFFFFF;
    --primary_black: #000000;
    --primary_border: #808080;
    --accent_default: #C8D14F;
    --accent_hovered: #E3FF37;
    --accent_decor: #CFD38F;
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.AppOverlay {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}
button{
    width: 200px;
    height: 47px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}